/* =====partner section start here===== */
.partner__section{
    margin: 200px 0;
}

.partners__logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partners__logo.align-items-center:last-child {
    margin-bottom: 0;
}

.partners__logo.align-items-center {
    margin-bottom: 100px;
}
/* =====partner section end here===== */


/* =====footer section start here=====*/
.footer__top{
    padding: 150px 0;
}

.footer__inner .footer__dimen {
    text-align: center;
}

.footer__dimen .Dimen__logo {
    margin-bottom: 70px;
}

.footer__dimen .dimen__title h1 {
    font-weight: 800;
    font-size: 62px;
    line-height: 76px;
    background: linear-gradient(180deg, #FFDA76 0%, #FC9825 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    
.footer__dimen .dimen__title h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    background: linear-gradient(180deg, #3EA3DC 0%, #27348B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    .footer__triton {
        text-align: right;
    }
    
    .footer__triton .triton__title h4 {
        font-weight: 700;
        font-size: 32px;
    }

    .footer__triton .triton__menu{
        margin: 56px 0 48px;
    }

    .footer__triton .triton__menu ul {
        padding: 0;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    
    .footer__triton .triton__menu ul li {
        list-style: none;
        margin-left: 50px;
    }
    
    .footer__triton .triton__menu ul li a {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #0D293E;
    }

    .footer__triton .triton__contact p {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #737373;margin-bottom: 18px;
    }

    .triton__social img {
        margin-left: 40px;
    }
    
    .triton__social {
        margin-top: 48px;
    }

    
    /* ---footer foot--- */
    .footer__foot{
        text-align: center;
    }

    .footer__foot p{
        font-weight: bold;
    }

    .footer__foot p span{
        background: linear-gradient(180deg, #3EA3DC 0%, #27348B 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
    }
    /* ---footer foot--- */
    

/* =====footer section end here=====*/

/* =====seat book section start here===== */
.seat__title {
    text-align: center;
    margin-bottom: 64px;
}

.seat__title h4 {
    font-weight: 800;
    font-size: 40px;
    color: rgba(13, 41, 62, 0.9);
}

.seat__title form {
    margin: 119px 0 64px 0;
}

.seat__book__inner form input,
 .seat__book__inner form select,
  .seat__book__inner form button {
    width: 350px;
    padding: 12px;
    border-radius: 6px;
    box-shadow: inset -1px -1px 6px rgba(255, 104, 43, 0.05), inset 1px 1px 3px rgba(166, 171, 189, 0.5);
    border: none;
    outline: none;
}

.seat__book__inner form select{
    width: 298px;
}

.seat__book__inner form button {
    width: 284px;
    left: calc(50% - 298px/2 + 562px);
    top: calc(50% - 85px/2 + 1826.5px);
    background: #D60665;
    font-weight: 600;
    font-size: 28px;
    color: #FFFFFF;
    padding: 10px;
}
/* =====seat book section end here===== */


/* ======================================== 
        facilitiy section start here
===========================================*/
/* =====facility section start here====== */
.facility__section{
    margin: 200px 0;
}
    
.facility__box.text-center {
    box-shadow: 4px 4px 10px rgb(0 0 0 / 18%);
    border-radius: 10px;
    padding: 32px;
    height: 404px;
    max-width: 570px;
    line-height: 27px;
}

.facility__box.text-center {
    margin-bottom: 100px;
}

.facility__title {
    text-align: center;
    margin-bottom: 80px;
}

.facility__title h1 {font-weight: 800;
font-size: 56px;
line-height: 68px;
background: linear-gradient(180deg, #3EA3DC 0%, #27348B 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.facility__box.text-center h4 {
    margin: 36px 0 32px;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: rgba(13, 41, 62, 0.8);
}
    
.facility__box.text-center p {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: rgba(13, 41, 62, 0.6);
}


/* -----facility slider start */
.facility__slider .slider__title{
    margin-bottom: 100px;
}

.facility__slider .slider__title h4 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    background: linear-gradient(180deg, #3EA3DC 0%, #27348B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider__r {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__box {width: 398px;
    height: 423px;
    left: 761px;
    top: 1509px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
    border-radius: 12px;padding: 22px;
}

.slider__box .slide__title {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}

.slider__box .slide__title img {
    margin-right: 20px;
}

.slide__title .title p, .slide__title .title span {font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: rgba(13, 41, 62, 0.9);margin: 0;
}
    
.slide__title .title span {
    font-weight: 500;
    font-size: 14px;
    color: rgba(13, 41, 62, 0.6);
}

.slider__box .slide__content p {font-weight: 500;
    font-size: 20px;
    text-align: justify;
    }



    /* ----- */
    .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;;
        object-fit: cover;
      }
    /* ----- */
/* -----facility slider end */

/* =====facility section end here====== */

/* ======================================== 
        facilitiy section end here
===========================================*/