/* =====partner section start here===== */
.partner__section{
    margin: 200px 0;
}

.partners__logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partners__logo.align-items-center:last-child {
    margin-bottom: 0;
}

.partners__logo.align-items-center {
    margin-bottom: 100px;
}

.partners__logo.align-items-center IMG {
    margin-bottom: 25px;
}


@media screen and (max-width: 1024px) {
    .partner__section{
        margin: 120px 0;
    }
}

@media screen and (max-width: 767px) {
    .partner__section {
        margin: 90px 0;
    }
}

@media screen and (max-width: 575px) {
    .partner__section {
        margin: 50px 0;
    }
}

/* =====partner section end here===== */


/* ====================================
    service up page start here
========================================*/
.course__title {
    padding: 70px;
    background: linear-gradient(271.98deg, rgba(179, 227, 255, 0) 33.52%, #F4F5F9 100%);
    position: relative;
}

.course__title img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.course__title h1 {
    font-weight: 800;
    font-size: 56px;
    color: rgba(13, 41, 62, 0.9);
}
    
.course__title p {
    font-weight: 100;
    font-size: 16px;
    color: rgba(13, 41, 62, 0.6);
    margin: 0;
}

/* overview start */

.overview__section {
    margin: 60px 0;
}

.overview__section .overview {
    padding-right: 80px;
}

.overview .overview__title h4, .overview .overview__module h4 {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
     background: linear-gradient(180deg, #3EA3DC 0%, #27348B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
    
.overview .overview__title p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: rgba(13, 41, 62, 0.6);
    margin: 50px 0 64px;
}

.overview__module .module__list {
    margin-top: 50px;
}



.overview__module .module__list ul li {
    font-weight: 600;
    font-size: 16px;
    color: rgba(13, 41, 62, 0.6);
    margin-bottom: 25px;
}

.overview__module .module__list ul li:last-child {
    margin-bottom: 0;
}


.overview__course__details {
    padding: 40px 60px 56px;
    border: 2px solid rgba(255, 218, 118, 1);
    border-radius: 12px;
    /* display: none; */
}

.overview__course__details .title h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    background: linear-gradient(180deg, #FFDA76 0%, #FC9825 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 32px;
}
    
.overview__course__details .details__list ul li {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(13, 41, 62, 0.6);
    margin-bottom: 14px;
}
    
.overview__course__details .details__list ul li:last-child {
    margin-bottom: 0;
}

.overview__course__details .enroll__quate {
    text-align: center;
}

.overview__course__details .enroll__quate h4 {
    font-weight: 700;
    font-size: 22px;
    color: #D60665;margin: 30px 0 32px;
}

.overview__course__details .enroll__quate button {
    border-radius: 8px;font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    width: 230px;
    margin-bottom: 9px;
    outline: none;
}

.overview__course__details .enroll__quate button.first__child {
    background: linear-gradient(180deg, #D680FF -25.64%, #AB04C7 100%);
}

.overview__course__details .enroll__quate button.last__child {
    background-color: #fff;
    color: rgba(13, 41, 62, 0.6)!important;
    border: 2px solid rgba(13, 41, 62, 0.6)!important;
}

.career__opportunity .title h4 {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
     background: linear-gradient(180deg, #3EA3DC 0%, #27348B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
    
.career__opportunity .title p {font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(13, 41, 62, 0.6);margin: 50px 0 32px;text-align: justify;
}

.opportunity__list ul {
    padding: 0;margin: 0;
}

.opportunity__list ul li {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.opportunity__list ul li img {
    padding-right: 17px;
}

.opportunity__list ul li p {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: rgba(13, 41, 62, 0.9);
}

.requirement__post {
    margin-top: 60px;
}

.requiremnts h4, .software h4 {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    background: linear-gradient(180deg, #3EA3DC 0%, #27348B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
    
.requiremnts ul, .software .difl ul  {
    padding-left: 1rem;
    margin: 0;
}
    
.requiremnts ul li, .software .difl ul li {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: rgba(13, 41, 62, 0.6);
}
    
.requiremnts ul li:first-child {
    margin: 35px 0 25px;
}

.software h4 {
    margin-bottom: 35px;
}

.software .difl {
    display: flex;
    justify-content: space-between;
}

.software .difl ul li{
    margin-bottom: 20px;
}

.software .difl ul li:last-child{
    margin-bottom: 0;
}

.requiremnts, .software {
    padding: 47px 44px;
    background-color: #F6F8FB;
    border-radius: 30px;
}

.software {
    padding: 28px 44px;
}

/* overview start */

@media screen and (max-width: 1699px) {
    .course__title h1 {
        font-size: 39px;
    }
}

@media screen and (max-width: 1399px) {
    .course__title img {
        display: none;
    }

    .overview__section .overview {
        padding-right: 0;
    }
}

@media screen and (max-width: 1199px) {
    .overview__course__details {
        padding: 40px 25px 56px;
    }
}

@media screen and (max-width: 1023px) {
    /* .course__title {
        padding: 40px;
    } */
}
@media screen and (max-width: 991px) {
    .course__title {
        padding: 40px;
    }

    .course__title h1 {
        font-size: 31px;
    }

    .course__title h1 {
        font-size: 31px;
    }

    .overview .overview__title h4,
     .overview .overview__module h4,
      .career__opportunity .title h4 {
        text-align: center;
    }

    .overview .overview__title p {
        margin: 30px 0 46px;
    }

    .overview__course__details {
        padding: 40px 60px 56px;
    }

    .overview__module {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {
    .overview .overview__title h4,
     .overview .overview__module h4,
     .career__opportunity .title h4 {
        font-size: 33px;
    }

    .overview__course__details {
        padding: 30px;
    }

    .requiremnts {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 424px) {
    .overview__course__details .enroll__quate button {
        font-size: 16px;
    }

    .overview__module .module__list,
     .requirement__post {
        margin-top: 35px;
    }

    .career__opportunity .title p {
        margin: 21px 0 40px;
    }

    .requiremnts, .software {
        padding: 34px 26px;
    }

    .requiremnts h4, .software h4 {
        font-size: 22px;
    }
}

@media screen and (max-width: 320px) {
    .course__title h1 {
        font-size: 19px;
    }

    .overview__course__details .title h4 {
        font-size: 28px;
        margin-bottom: 22px;
    }

    .requiremnts ul li, .software .difl ul li {
        font-size: 17px;
        line-height: unset;
    }
}

/* ====================================
    service up page end here
========================================*/



/* =====footer section start here=====*/
.footer__top{
    padding: 150px 0;
}

.footer__inner .footer__dimen {
    text-align: center;
}

.footer__dimen .Dimen__logo {
    margin-bottom: 70px;
}

.footer__dimen .dimen__title h1 {
    font-weight: 800;
    font-size: 62px;
    line-height: 76px;
    background: linear-gradient(180deg, #FFDA76 0%, #FC9825 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    
.footer__dimen .dimen__title h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    background: linear-gradient(180deg, #3EA3DC 0%, #27348B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    .footer__triton {
        text-align: right;
    }
    
    .footer__triton .triton__title h4 {
        font-weight: 700;
        font-size: 32px;
    }

    .footer__triton .triton__menu{
        margin: 56px 0 48px;
    }

    .footer__triton .triton__menu ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer__triton .triton__menu ul li {
        list-style: none;
    }
    
    .footer__triton .triton__menu ul li a {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #0D293E;
    }

    .footer__triton .triton__contact p {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #737373;margin-bottom: 18px;
    }
    
    .triton__social {
        margin-top: 48px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 57px;
    }

    
    /* ---footer foot--- */
    .footer__foot{
        text-align: center;
    }

    .footer__foot p{
        font-weight: bold;
    }

    .footer__foot p span{
        background: linear-gradient(180deg, #3EA3DC 0%, #27348B 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
    }

    .triton__social a img {
        transition: 0.3s;
    }

    .triton__social a img:last-child {
        opacity: 0;
    }

    .triton__social a:hover img:last-child{
        opacity: 1;
    }

    .triton__social a:hover img:first-child {
        margin-bottom: 0;
    }

    .triton__social a img:first-child {
        margin-bottom: -14px;
    }
    /* ---footer foot--- */

    @media screen and (max-width: 1399px) {
        .footer__dimen .dimen__title h2 {
            font-size: 42px;
        }

        .footer__dimen .dimen__title h1 {
            font-size: 56px;
        }
    }
    @media screen and (max-width: 1199px) {
        .footer__top {
            padding: 100px 0;
        }

        .footer__dimen .dimen__title h2 {
            font-size: 35px;
        }

        .footer__dimen .dimen__title h1 {
            font-size: 46px;
        }
    }

    @media screen and (max-width: 991px) {
    
        .footer__triton .triton__menu ul li a {
            font-size: 15px;
        }

        .footer__dimen .dimen__title h2 {
            font-size: 26px;
            line-height: unset;
        }

        .footer__dimen .dimen__title h1 {
            font-size: 34px;
            line-height: unset;
        }
    }

    @media screen and (max-width: 767px) {
        .footer__triton {
            text-align: center;
        }
        .footer__triton .triton__title {
            margin-top: 20px;
        }
    }

    @media screen and (max-width: 424px) {
        .footer__foot p {
            font-size: 12px;
        }
    }
    

/* =====footer section end here=====*/

/* =====seat book section start here===== */
.seat__title {
    text-align: center;
}

.seat__title h4 {
    font-weight: 800;
    font-size: 40px;
    color: rgba(13, 41, 62, 0.9);
}

.seat__title form {
    margin: 119px 0 64px 0;
}

.seat__book__inner form input,
 .seat__book__inner form select,
  .seat__book__inner form button {
    width: 27%;
    padding: 12px;
    border-radius: 6px;
    box-shadow: inset -1px -1px 6px rgba(255, 104, 43, 0.05), inset 1px 1px 3px rgba(166, 171, 189, 0.5);
    border: none;
    outline: none;
}

.seat__book__inner form select{
    width: 298px;
}

.seat__book__inner form button {
    width: 284px;
    left: calc(50% - 298px/2 + 562px);
    top: calc(50% - 85px/2 + 1826.5px);
    background: #D60665;
    font-weight: 600;
    font-size: 28px;
    color: #FFFFFF;
    padding: 10px;
}

@media screen and (max-width: 1399px) {
    .seat__book__inner form input,
     .seat__book__inner form select {
        width: 32.9%;
        margin-bottom: 7px;
    }

    .seat__book__inner form button {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .seat__book__inner form input, .seat__book__inner form select {
        width: 32.7%;
    }
}

@media screen and (max-width: 576px) {
    .seat__book__inner form input, .seat__book__inner form select {
        width: 100%;
    }
}



@media screen and (max-width: 575px) {
    .seat__title h4 {
        font-size: 34px;
    }

    .seat__title form {
        margin: 64px 0;
    }
}

@media screen and (max-width: 424px) {
    .seat__title h4 {
        font-size: 25px;
    }
}
/* =====seat book section end here===== */


/* ======================================== 
        facilitiy section start here
===========================================*/
/* =====facility section start here====== */
.facility__section{
    margin: 200px 0;
}
    
.facility__box.text-center {
    box-shadow: 4px 4px 10px rgb(0 0 0 / 18%);
    border-radius: 10px;
    padding: 32px;
    height: 404px;
    max-width: 570px;
    line-height: 27px;
}

.facility__box.text-center {
    margin-bottom: 100px;
}

.facility__title {
    text-align: center;
    margin-bottom: 80px;
}

.facility__title h1 {font-weight: 800;
font-size: 56px;
line-height: 68px;
background: linear-gradient(180deg, #3EA3DC 0%, #27348B 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.facility__box.text-center h4 {
    margin: 36px 0 32px;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: rgba(13, 41, 62, 0.8);
}
    
.facility__box.text-center p {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: rgba(13, 41, 62, 0.6);
}


/* -----facility slider start */
.facility__slider .slider__title{
    margin-bottom: 100px;
}

.facility__slider .slider__title h4 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    background: linear-gradient(180deg, #3EA3DC 0%, #27348B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider__r {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider__box {width: 398px;
    height: 423px;
    left: 761px;
    top: 1509px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
    border-radius: 12px;
    padding: 22px;
    margin: 25px 20px;
}

.slider__box .slide__title {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}

.slider__box .slide__title img {
    margin-right: 20px;
}

.slide__title .title p, .slide__title .title span {font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: rgba(13, 41, 62, 0.9);margin: 0;
}
    
.slide__title .title span {
    font-weight: 500;
    font-size: 14px;
    color: rgba(13, 41, 62, 0.6);
}

.slider__box .slide__content p {font-weight: 500;
    font-size: 20px;
    text-align: justify;
    }



    /* ----- */
    .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;;
        object-fit: cover;
      }
    /* ----- */

    @media screen and (max-width: 991px) {
        .facility__section {
            margin: 130px 0;
        }

        .facility__box.text-center {
            margin-bottom: 50px;
        }

        .facility__box.text-center p {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 767px) {
        .facility__section {
            margin: 100px 0;
        }

        .facility__box.text-center p {
            font-size: 20px;
        }
    }

    @media screen and (max-width: 575px) {
        .facility__title {
            margin-bottom: 40px;
        }

        .facility__title h1 {
            font-size: 40px;
        }

        .facility__box.text-center h4 {
            font-size: 32px;
        }

        .facility__box.text-center p {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 320px) {
        .facility__box.text-center {
            margin-bottom: 40px;
        }

        .facility__box.text-center {
            padding: 18px;
        }

        .facility__box.text-center h4 {
            font-size: 30px;
        }

        .facility__title h1 {
            font-size: 37px;
        }
    }
/* -----facility slider end */

/* =====facility section end here====== */

/* ======================================== 
        facilitiy section end here
===========================================*/